<h2 class="content-subhead">Table of Contents</h2>

<div class="pure-menu">
  <ul class="pure-menu-list">
    <% @chapters_list.each do |title| %>
      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link"><%= title %></a>
      </li>
    <% end %>
  </ul>
</div>

